<a href="https://colab.research.google.com/github/jobafash/Notes/blob/colab/Sharaf_Fashion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
sales_data = pd.read_csv('sample_data/order_export_2021-06-02-06-48-26.csv', encoding = "ISO-8859-1")

In [5]:
sales_data.head()

   order_id  order_number  ... line_item_5 line_item_6
0     12109         12109  ...         NaN         NaN
1     12143         12143  ...         NaN         NaN
2     12145         12145  ...         NaN         NaN
3     12224         12224  ...         NaN         NaN
4     12225         12225  ...         NaN         NaN

[5 rows x 54 columns]

In [7]:
sales_data.columns

Index(['order_id', 'order_number', 'order_date', 'status', 'shipping_total',
       'shipping_tax_total', 'fee_total', 'fee_tax_total', 'tax_total',
       'cart_discount', 'order_discount', 'discount_total', 'order_total',
       'order_currency', 'payment_method', 'shipping_method', 'customer_id',
       'customer_user', 'customer_email', 'billing_first_name',
       'billing_last_name', 'billing_company', 'billing_email',
       'billing_phone', 'billing_address_1', 'billing_address_2',
       'billing_postcode', 'billing_city', 'billing_state', 'billing_country',
       'shipping_first_name', 'shipping_last_name', 'shipping_company',
       'shipping_address_1', 'shipping_address_2', 'shipping_postcode',
       'shipping_city', 'shipping_state', 'shipping_country', 'customer_note',
       'wt_import_key', 'shipping_items', 'fee_items', 'tax_items',
       'coupon_items', 'refund_items', 'order_notes', 'download_permissions',
       'line_item_1', 'line_item_2', 'line_item_3', 'line_item_4',
       'line_item_5', 'line_item_6'],
      dtype='object')

In [8]:
sales_data.shape

(52, 54)

In [9]:
sales_data['status'].value_counts()

processing    43
on-hold        6
cancelled      3
Name: status, dtype: int64

In [10]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 54 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              52 non-null     int64
 1   order_number          52 non-null     int64
 2   order_date            52 non-null     object
 3   status                52 non-null     object
 4   shipping_total        52 non-null     float64
 5   shipping_tax_total    52 non-null     float64
 6   fee_total             52 non-null     float64
 7   fee_tax_total         52 non-null     float64
 8   tax_total             52 non-null     float64
 9   cart_discount         52 non-null     float64
 10  order_discount        52 non-null     float64
 11  discount_total        52 non-null     float64
 12  order_total           52 non-null     float64
 13  order_currency        52 non-null     object
 14  payment_method        52 non-null     object
 15  shipping_method       0 non-null      float64
 16  customer_id           52 non-null     int64
 17  customer_user         52 non-null     int64
 18  customer_email        21 non-null     object
 19  billing_first_name    52 non-null     object
 20  billing_last_name     52 non-null     object
 21  billing_company       0 non-null      float64
 22  billing_email         52 non-null     object
 23  billing_phone         52 non-null     object
 24  billing_address_1     52 non-null     object
 25  billing_address_2     29 non-null     object
 26  billing_postcode      0 non-null      float64
 27  billing_city          0 non-null      float64
 28  billing_state         0 non-null      float64
 29  billing_country       52 non-null     object
 30  shipping_first_name   0 non-null      float64
 31  shipping_last_name    0 non-null      float64
 32  shipping_company      0 non-null      float64
 33  shipping_address_1    0 non-null      float64
 34  shipping_address_2    0 non-null      float64
 35  shipping_postcode     0 non-null      float64
 36  shipping_city         0 non-null      float64
 37  shipping_state        0 non-null      float64
 38  shipping_country      0 non-null      float64
 39  customer_note         16 non-null     object
 40  wt_import_key         52 non-null     int64
 41  shipping_items        0 non-null      float64
 42  fee_items             0 non-null      float64
 43  tax_items             0 non-null      float64
 44  coupon_items          0 non-null      float64
 45  refund_items          0 non-null      float64
 46  order_notes           52 non-null     object
 47  download_permissions  52 non-null     int64
 48  line_item_1           52 non-null     object
 49  line_item_2           19 non-null     object
 50  line_item_3           4 non-null      object
 51  line_item_4           4 non-null      object
 52  line_item_5           3 non-null      object
 53  line_item_6           1 non-null      object
dtypes: float64(28), int64(6), object(20)
memory usage: 22.1+ KB

In [11]:
sales_data.isnull().sum()

order_id                 0
order_number             0
order_date               0
status                   0
shipping_total           0
shipping_tax_total       0
fee_total                0
fee_tax_total            0
tax_total                0
cart_discount            0
order_discount           0
discount_total           0
order_total              0
order_currency           0
payment_method           0
shipping_method         52
customer_id              0
customer_user            0
customer_email          31
billing_first_name       0
billing_last_name        0
billing_company         52
billing_email            0
billing_phone            0
billing_address_1        0
billing_address_2       23
billing_postcode        52
billing_city            52
billing_state           52
billing_country          0
shipping_first_name     52
shipping_last_name      52
shipping_company        52
shipping_address_1      52
shipping_address_2      52
shipping_postcode       52
shipping_city           52
shipping_state          52
shipping_country        52
customer_note           36
wt_import_key            0
shipping_items          52
fee_items               52
tax_items               52
coupon_items            52
refund_items            52
order_notes              0
download_permissions     0
line_item_1              0
line_item_2             33
line_item_3             48
line_item_4             48
line_item_5             49
line_item_6             51
dtype: int64

In [22]:
sales_data.drop(['shipping_company'], axis=1, inplace=True)

sales_data.drop(['shipping_address_1'], axis=1, inplace=True)

sales_data.drop(['shipping_address_2'], axis=1, inplace=True)

sales_data.drop(['shipping_postcode'], axis=1, inplace=True)

sales_data.drop(['shipping_city'], axis=1, inplace=True)

sales_data.drop(['shipping_state'], axis=1, inplace=True)

sales_data.drop(['shipping_country'], axis=1, inplace=True)

sales_data.drop(['customer_note'], axis=1, inplace=True)

sales_data.drop(['shipping_items'], axis=1, inplace=True)

sales_data.drop(['fee_items'], axis=1, inplace=True)

sales_data.drop(['tax_items'], axis=1, inplace=True)

sales_data.drop(['coupon_items'], axis=1, inplace=True)

sales_data.drop(['refund_items'], axis=1, inplace=True)

sales_data.drop(['line_item_2'], axis=1, inplace=True)

sales_data.drop(['line_item_3'], axis=1, inplace=True)

sales_data.drop(['line_item_4'], axis=1, inplace=True)

sales_data.drop(['line_item_5'], axis=1, inplace=True)

sales_data.drop(['line_item_6'], axis=1, inplace=True)

In [23]:
sales_data.isnull().sum()

order_id                0
order_number            0
order_date              0
status                  0
shipping_total          0
shipping_tax_total      0
fee_total               0
fee_tax_total           0
tax_total               0
cart_discount           0
order_discount          0
discount_total          0
order_total             0
order_currency          0
payment_method          0
customer_id             0
customer_user           0
billing_first_name      0
billing_last_name       0
billing_email           0
billing_phone           0
billing_address_1       0
billing_country         0
wt_import_key           0
order_notes             0
download_permissions    0
line_item_1             0
dtype: int64

In [24]:
sales_data.fillna('Unknown', inplace=True)

In [25]:
sales_data.isnull().values.any()

False

In [26]:
sales_data.shape

(52, 27)

In [28]:
important_data = sales_data[['order_id', 'order_date', 'status', 'order_total', 'customer_id', 'billing_first_name', 'billing_last_name', 'billing_email', 'billing_address_1','billing_country', 'line_item_1',]]

In [35]:
important_data.columns

Index(['order_id', 'order_date', 'status', 'order_total', 'customer_id',
       'billing_first_name', 'billing_last_name', 'billing_email',
       'billing_address_1', 'billing_country', 'line_item_1'],
      dtype='object')

In [36]:
important_data.to_csv("sample_data/sharaf_fashion.csv", index=False)